:root {
	--item-height: 2em;
}

.win7 {
	--item-height: 2.5em;
}

body {
	margin: 0;
	overflow: hidden;
}

button {
	min-height: var(--item-height);
}

.hkjos-temp {
	display: none;
}

.hkjos-screen {
	height: 100vh;
	/* background-image: url('https://ia804603.us.archive.org/10/items/Windows-wallcollection/1920x1200_%28Windows_7%29.jpg'); */
	background-size: cover;
	background-position: center;
}

.hkjos-window {
	background: lightgray;
	resize: both;
	overflow: auto;
	width: 100px;
	height: 100px;
	position: absolute;
	border: 2px solid black;
}

.hkjos-window > iframe {
	border: none;
	width: 100%;
	height: calc(100% - var(--item-height));
}

.hkjos-taskbar {
	position: absolute;
	bottom: 0;
	left: 0;
	background: darkgray; /* rgba(255,255,255,0.5); */
	width: 100%;
}

.hkjos-startmenu {
	min-height: 50%;
	min-width: 20%;
	background: lightgray;
}
